header .panel-heading{
    border-radius: 7px;
    color: cornsilk;
    background-color: #325D88;

    margin-bottom: 25px;
}

body{
    background-image: url("rice-paper-texture.jpg");
}

.entrybox{
    padding: 0;
    background-color: cornsilk;
}

label{
    font-size: 13pt;
}

#footer{
    font-size: 2px;
    color: cornsilk;
    background-color: #325D88;
    position: relative;
    bottom: 0;

}

#footer h6{
    opacity: 0.7;
}